alibi==0.7.0
baal==1.6.0
batchbald_redux==2.0.5
cardinal==0.0.7
keras==2.8.0
matplotlib==3.5.1
numpy==1.22.3
openml==0.12.2
pandas==1.4.2
scikit_learn==1.1.1
scipy==1.8.0
tensorflow==2.8.0
torch==1.12.0
